* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

header {
  background-color: #0891b2;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-container {
  background-color: #fafafa;
  align-self: center;
  padding: 1rem 2rem;
  max-width: 80rem;
}

.socials-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}

.socials-logo svg {
  width: 5%;
  min-width: 2.4rem;
  max-width: 4.8rem;
  height: auto;
}

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
  }
}
